In [1]:
import os;
os.environ["PYSPARK_PYTHON"] = "python3"
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.datastax.spark:spark-cassandra-connector_2.11:2.3.0,com.databricks:spark-avro_2.11:4.0.0,org.apache.hadoop:hadoop-aws:2.7.3 --conf spark.cassandra.connection.host=46.4.115.158 pyspark-shell'

In [2]:
#setting up spark session
import pyspark as py
spark = py.sql.SparkSession.builder.master('local[1]').appName('pyspark Jupyter learning').config('spark.cassandra.connection.host','5.9.58.93').getOrCreate()
spark.conf.set('spark.executor.memory','1g')
spark.conf.set('spark.driver.memory','2g')
spark.conf.set('spark.cassandra.connection.host','5.9.58.93')
sc = spark.sparkContext
sc._jsc.hadoopConfiguration().set("fs.s3n.impl", "org.apache.hadoop.fs.s3native.NativeS3FileSystem")
sc._jsc.hadoopConfiguration().set("fs.s3n.awsAccessKeyId", "AKIAITKKPYA35KQ4M2LQ")
sc._jsc.hadoopConfiguration().set("fs.s3n.awsSecretAccessKey", "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")

In [3]:
from pyspark.sql import SQLContext
sqlcontext = SQLContext(sc)

### Reading from cassandra

In [4]:
def loadTablefromKeyspace(tbl_name,keyspace):
    rawTbldf = sqlcontext.read.format("org.apache.spark.sql.cassandra").options(table=tbl_name,keyspace=keyspace).load()
    return rawTbldf

In [5]:
itemHdr = loadTablefromKeyspace("item_hdr","danny")
itemHdr.show(5)

+-----+------+---------+----------+----------+----------+------------+------------+
|ih_no|ih_mrp|  ih_name|ih_pur_tax|ih_purrate|ih_sel_tax|ih_sell_rate|ih_tot_stock|
+-----+------+---------+----------+----------+----------+------------+------------+
|    1|  35.0|    apple|         3|      20.0|         3|        30.0|         100|
|    4| 100.0|pineapple|         4|      15.0|         3|        19.0|         100|
|    5|  50.0|    onion|         5|      34.0|         3|        36.0|          85|
|   10|  68.0|   tomato|         4|      34.0|         3|        50.0|          80|
|    8|  75.0|    pepsi|         2|      14.0|         3|        30.0|          45|
+-----+------+---------+----------+----------+----------+------------+------------+
only showing top 5 rows

In [6]:
taxMasterDf = loadTablefromKeyspace("tax_master","danny")
taxMasterDf.show(5)

+-----+----------+
|tm_id|tm_tax_per|
+-----+----------+
|    1|         0|
|    4|        12|
|    5|        18|
|    8|       188|
|    2|         3|
+-----+----------+
only showing top 5 rows

### New data to be added to the tax table in cassandra

In [7]:
from pyspark.sql import Row
newTax = [(3,40),(7,99)]
newTaxRdd = sc.parallelize(newTax)
newTaxRddRow = newTaxRdd.map(lambda x: Row(tm_id = x[0],tm_tax_per = x[1]))
newTaxDf = sqlcontext.createDataFrame(newTaxRddRow)
newTaxDf.show()

+-----+----------+
|tm_id|tm_tax_per|
+-----+----------+
|    3|        40|
|    7|        99|
+-----+----------+

### Writing the new data into the tax table in cassandra

In [26]:
newTaxDf.write.format('org.apache.spark.sql.cassandra').mode('append').options(table='tax_master',keyspace ='danny').save()
loadTablefromKeyspace('tax_master','danny').show()

+-----+----------+
|tm_id|tm_tax_per|
+-----+----------+
|    1|         0|
|    4|        12|
|    5|        18|
|    8|       188|
|    2|         3|
|    7|        99|
|    6|        40|
|    3|         5|
|    3|        40|
+-----+----------+

### Reading CSV as Dataframe

In [8]:
aadharDf = spark.read.format('csv').option('header','true').option('inferSchema','true').option('delimiter',',').load('hdfs://5.9.58.93:8020/demo/cmdlearn/aadhar.csv')

In [9]:
aadharDf.registerTempTable('aadhar')

In [11]:
adhrWithAgeGrp = sqlcontext.sql("select  case when Age >= 85 then 'Age >= 85' when Age < 85 and Age >= 50 then 'Age 50-85' when Age < 50 and Age >= 20 then 'Age 20-50' else 'Age 0-20' end as ageGrp,State,`Sub District`,Gender from aadhar")
adhrWithAgeGrp.show(5)

+--------+-------------+------------+------+
|  ageGrp|        State|Sub District|Gender|
+--------+-------------+------------+------+
|Age 0-20|Uttar Pradesh|        Meja|     F|
|Age 0-20|Uttar Pradesh| Robertsganj|     M|
|Age 0-20|Uttar Pradesh|   Sultanpur|     F|
|Age 0-20|Uttar Pradesh|      Shamli|     M|
|Age 0-20|Uttar Pradesh|    Sahjanwa|     M|
+--------+-------------+------------+------+
only showing top 5 rows

In [12]:
adhrWithAgeGrp.registerTempTable('ageGrouped')

In [13]:
adhrAgeGrpCnt = sqlcontext.sql("select ageGrp,count(*) as cnt from ageGrouped group by ageGrp")

### writing csv file into HDFS

In [14]:
adhrAgeGrpCnt.write.csv('hdfs://5.9.58.93:8020/aakash/aadharGrpCnt.csv')

### Writing dataframe as parquet file into HDFS

In [33]:
adhrAgeGrpCnt.write.save('hdfs://5.9.58.93:8020/aakash/aadharcnt.parquet',format='parquet',mode = 'append')

In [15]:
adhrAgeGrpCnt.write.parquet('hdfs://5.9.58.93:8020/aakash/adhrcnt.parquet')

### Reading parquet file

In [16]:
spark.read.format('parquet').load('hdfs://5.9.58.93:8020/aakash/adhrcnt.parquet').show()

+---------+------+
|   ageGrp|   cnt|
+---------+------+
|Age 50-85| 41214|
|Age 20-50|139093|
|Age >= 85|   313|
| Age 0-20|260198|
+---------+------+

In [17]:
spark.read.parquet('hdfs://5.9.58.93:8020/aakash/adhrcnt.parquet').show()

+---------+------+
|   ageGrp|   cnt|
+---------+------+
|Age 50-85| 41214|
|Age 20-50|139093|
|Age >= 85|   313|
| Age 0-20|260198|
+---------+------+

### Writing data frame as Avro file

In [ ]:
adhrAgeGrpCnt.write.format('com.databricks.spark.avro').save('hdfs://5.9.58.93:8020/aakash/aadharAvro.avro')

In [ ]:
adhrWithAgeGrp = adhrWithAgeGrp.withColumnRenamed('sub district','sub_district')
adhrWithAgeGrp.write.format('com.databricks.spark.avro').save('hdfs://5.9.58.93:8020/aakash/adhrWthAgeGrp.avro')

### Reading avro file as Dataframe from HDFS

In [18]:
sqlcontext.read.format('com.databricks.spark.avro').load('hdfs://5.9.58.93:8020/aakash/aadharAvro.avro').show()

+---------+------+
|   ageGrp|   cnt|
+---------+------+
|Age 50-85| 41214|
|Age 20-50|139093|
| Age 0-20|260198|
|Age >= 85|   313|
+---------+------+

In [19]:
adhrAvro = spark.read.format('com.databricks.spark.avro').load('hdfs://5.9.58.93:8020/aakash/aadharAvro.avro')
adhrAvro.show(5)

+---------+------+
|   ageGrp|   cnt|
+---------+------+
|Age 50-85| 41214|
|Age 20-50|139093|
| Age 0-20|260198|
|Age >= 85|   313|
+---------+------+

### Reading data from S3 server

In [42]:
adhrAgeGrpS3.show(5)

+--------+-------------+-----------+---+
|Age 0-20|Uttar Pradesh|       Meja|  F|
+--------+-------------+-----------+---+
|Age 0-20|Uttar Pradesh|Robertsganj|  M|
|Age 0-20|Uttar Pradesh|  Sultanpur|  F|
|Age 0-20|Uttar Pradesh|     Shamli|  M|
|Age 0-20|Uttar Pradesh|   Sahjanwa|  M|
|Age 0-20|Uttar Pradesh|     Pindra|  M|
+--------+-------------+-----------+---+
only showing top 5 rows

In [20]:
adhrWithAgeGrp = adhrWithAgeGrp.withColumnRenamed('sub district','sub_district')
adhrWithAgeGrp.write.format('com.databricks.spark.avro').save('s3n://todaynodejs/adhrWthAgeGrp.avro')

In [22]:
adhrfroms3 = spark.read.format('com.databricks.spark.avro').load('s3n://todaynodejs/adhrWthAgeGrp.avro')
adhrfroms3.show(5)

+--------+-------------+------------+------+
|  ageGrp|        State|sub_district|Gender|
+--------+-------------+------------+------+
|Age 0-20|Uttar Pradesh|        Meja|     F|
|Age 0-20|Uttar Pradesh| Robertsganj|     M|
|Age 0-20|Uttar Pradesh|   Sultanpur|     F|
|Age 0-20|Uttar Pradesh|      Shamli|     M|
|Age 0-20|Uttar Pradesh|    Sahjanwa|     M|
+--------+-------------+------------+------+
only showing top 5 rows

### Writing parquet file from S3 server

In [23]:
adhrWithAgeGrp.write.format('parquet').save('s3n://todaynodejs/adhragegrp.parquet')

### Reading the parquet file from S3 server

In [24]:
spark.read.format('parquet').load('s3n://todaynodejs/adhragegrp.parquet').show(5)

+--------+-------------+------------+------+
|  ageGrp|        State|sub_district|Gender|
+--------+-------------+------------+------+
|Age 0-20|Uttar Pradesh|        Meja|     F|
|Age 0-20|Uttar Pradesh| Robertsganj|     M|
|Age 0-20|Uttar Pradesh|   Sultanpur|     F|
|Age 0-20|Uttar Pradesh|      Shamli|     M|
|Age 0-20|Uttar Pradesh|    Sahjanwa|     M|
+--------+-------------+------------+------+
only showing top 5 rows

### Writing the dataframe partitioned by a particular column as avro

In [26]:
adhrWithAgeGrp.write.partitionBy('ageGrp').format('com.databricks.spark.avro').save('s3n://todaynodejs/adhrpartitionavro')

###  Reading the partitioned data

In [30]:
adhrpartRead = spark.read.format('com.databricks.spark.avro').load('s3n://todaynodejs/adhrpartitionavro')

In [31]:
print(adhrpartRead.count(),adhrWithAgeGrp.count())

440818 440818

### Writing dataframe partitioned as parquet

In [32]:
adhrWithAgeGrp.write.partitionBy('ageGrp').format('parquet').save('s3n://todaynodejs/adhrpartitionParq')

In [33]:
adhrparqRead = spark.read.format('parquet').load('s3n://todaynodejs/adhrpartitionParq')
adhrparqRead.show(5)

+-------------+------------+------+--------+
|        State|sub_district|Gender|  ageGrp|
+-------------+------------+------+--------+
|Uttar Pradesh|        Meja|     F|Age 0-20|
|Uttar Pradesh| Robertsganj|     M|Age 0-20|
|Uttar Pradesh|   Sultanpur|     F|Age 0-20|
|Uttar Pradesh|      Shamli|     M|Age 0-20|
|Uttar Pradesh|    Sahjanwa|     M|Age 0-20|
+-------------+------------+------+--------+
only showing top 5 rows

In [34]:
print(adhrWithAgeGrp.count(),adhrparqRead.count())

440818 440818